.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .videoFrame {
    width: 80%;
    height: 500px;
    border: none;
  }
  
  .error {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-top: 20px;
  }
  