.subscribed_btn {
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 122px;
  padding: 8px 0;
  border-radius: 18px;
}

.arrow_down {
  position: relative;
  top: 1px;
}

.subscribed_btn > span {
  font-size: 15px;
  font-weight: 500;
}

.dropdown_content {
  display: flex;
  flex-direction: column;
  width: 156px;
  background-color: white;

  border-radius: 12px;
  z-index: 999;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 32px 0px;
}

.dropdown_content > button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 12px 8px 16px;
  cursor: pointer;
}

.dropdown_content > button:hover {
  background-color: #f2f2f2;
}

@media screen and (min-width: 662px) {
  .dropdown {
    display: block;
  }
}

.subs_btn {
  border-radius: 18px;
  font-size: 14px;
  border: none;
  color: white;
  background-color: black;
  padding: 8px 16px;
  height: fit-content;
  cursor: pointer;
}
