.main {
  display: flex;
  flex-direction: row;
  height:100vh;
}

.sidebar {
  width: 240px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

@media (max-width: 1312px) { /*sidebar 변경*/
  .sidebar {
    width: 72px;
  }
}


.content {
  flex: 1;
  padding: 20px;
}
