.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pointer_box {
  flex: 1;
  display: flex;
  gap: 16px;
  cursor: pointer;
  overflow: hidden;
}

.channel_img {
  height: 136px;
  width: 136px;
  aspect-ratio: auto 136 / 136;

  border-radius: 50%;
}

.channel_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.channel_description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  color: rgb(96, 96, 96);
  overflow: hidden;
}

.des_text_container {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.channel_stats {
  display: flex;
  gap: 4px;
  align-items: center;
}

.subs_btn_box {
  display: block;
}

@media screen and (max-width: 662px) {
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .subs_btn_box {
    display: none;
  }
}
