@media (min-width: 0px) {
  .videoItem {
    width: 100%; /*한줄에 영상 1개*/
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .videoItem {
    width: 45%; /*한줄에 영상 2개*/
  }
}

@media (min-width: 992px) {
  .videoItem {
    width: 30%; /*한줄에 영상 3개*/
  }
}

@media (min-width: 1200px) {
  .videoItem {
    width: 20%; /*한줄에 영상 4개*/
  }
}

.videoList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.videoItem {
  display: inline-block;
  padding: 15px 10px;
}

.videoThumbnail {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.videoInfo{
  display: flex;
}

.channelThumbnail{
  width: 15%;
  height: 100%;
  margin: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.videoTitle {
  width: 100%;
  margin: 5px 0px;
  font-weight: bold;
  font-size: medium;
  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelTitle, 
.videoViewCount, 
.videoPublishTime{
  margin: 0px 2px;
  font-size: small;
  color: gray;
}

.loading {
  height: 20px;
  margin: 20px auto;
}