.channelPage {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  height: calc(100vh - 30px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.channelBanner{
  width: 100%;
  height: 172px;
  display: flex;
}

.bannerImage{
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.channelHeader{
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;

}

.avatarDiv{
  width: 160px;
  height:160px;

}

.channelAvata {
  width: 160px;
  height: 160px;
  justify-content: center;
  border-radius: 50%;
}

.channelInfoDiv{
  flex: 1;
  width: calc(100% - 160px);
  height: 160px;
  margin-left: 10px;
}

.channelName{
  font-size: clamp(24px, 3vw, 45px);
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  
}

.channelBasic{
  font-size: clamp(12px,0.8vw, 20px);
  height: 22px;
  display: flex;
  align-items: center;

}

.channelId{
  font-weight: bold;
}
.channelInfo{
  font-size: clamp(12px,0.8vw, 20px);
  height: 28px;
  display: flex;
  align-items: center;
}

.channelInfoP{
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;  
  margin-right: 5px;
  cursor: pointer;
}

.moreInfo{
  font-weight: bold;
  cursor: pointer;
}

.subscribeDiv{
  height: 60px;
  padding-left: 20px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.channelTabNav{
  width: 100%;
  height: 48px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tab {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 24px;
  height: 48px;
  min-width: 48px;
}
.tab:hover {
  border-bottom: 1px solid gray;
}

.activeTab {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.channelTabContents{
  min-height: calc(100vh - 480px);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 0 20px;
  border-radius: 10px;
  min-width: 30vw;
  max-width: 80vw;
  min-height: 60vh;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  /* position: relative; */
}

.modalHeader {
  width:100%;
  height: 40px;
  margin: 10px 0;
  display: flex;
}

.closeButton {
  align-items: center;
  display: flex;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.modalInfo{
  width:95%;
  height:40px;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: clamp(24px,1vw,36px);
  margin: 10px 0;
}

.modalInfoName{
  width:95%;
  height:40px;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: clamp(24px,1vw,36px);
  margin: 10px 0;
}

.modalBtnDiv{
  margin-bottom: 50px;
}

.modalBtn{
  width: 30%;
  height: 40px;
  border-radius: 15px;
  margin-right: 5%;
  font-size: clamp(12px,1vw, 20px);
  background: transparent;
  border: none;
  background-color: #eeeeee;
  cursor: pointer;
  text-align: center;
}

.btnIcons{
  margin-right: 5px;
  font-size: clamp(12px,1.5vw, 20px);
}

.subscribe_btn {
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;

  min-width: 122px;
  padding: 8px 0;
  border-radius: 18px;
}


.dropdown {
  display: none;
}

.dropdown_content {
  display: flex;
  flex-direction: column;
  width: 156px;
  list-style-type: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 32px 0px;
  position: absolute;
  z-index: 9999; 
  background-color: white;
}

.dropdown_icon{
  margin-right: 5px;
  font-size: 18px;
}

.dropdown_content > button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 12px 8px 16px;
}

.dropdown_content > button:hover {
  background-color: #f2f2f2;
}
